{
  "apps": [{
    "name": "prodig-external-pdffiller-dev",
    "script": "./index.js",
    "watch": false,
    "env": {
      "NODE_ENV": "development",
      "MAX_TASK": 5,
      "ASYNC_RESPONSE_TIMEOUT": 10000,
      "INTERVAL": 1000,
      "LOCK_DURATION": 10000,
      "TOPIC": "prodig.test.external.pdffiller",
      "BASE_URL": "http://localhost:8080/engine-rest",
      "AUTH": false,
      "CLOUD_URL": "https://owncloud-url",
      "CLOUD_PATH": "/remote.php/webdav"
    }
  }]
}